apiVersion: apps/v1
kind: Deployment
metadata:
  name: prod-guest-deploy
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
      - image: sagar2docker/sample:latest
        name: guestbook-ui
        ports:
        - containerPort: 80
